.footer {
  background-color: #ff78ae;
  padding: 30px;
}

.footer a {
  color: #fff8cd;
}

.footer a:hover {
  color: #8B0000;
}

.link {
  text-align: center;
  font-size: 40px;
}

.fab {
  width: 1.50em;
}
